<div class="container mt-2 p-2">
    <div class="container mb-4">
        <h1 class="text-primary" style="font-size: 30px">Centro de Mensajes</h1>
    </div>
    <div class="container row">
        <form action="" id="form">
            <div class="mb-3 col-md-3 has-validation">
                <input type="email" class="form-control " name="usuario" id="usuario" placeholder="Ingrese su correo" required>
                <p id="invalid"></p>
            </div>
            <hr>
            <div class="col-auto" id="boxMessages">
                
            </div>
            <div class="row mt-3">
                <div class="col-md-5">
                    <input type="text" class="form-control" id="texto" placeholder="Ingrese un mensaje..." required>
                </div>
                <div class="col-auto col-md-7 mt-md-0 mt-2">
                    <button type="submit" id="buttonSend" class="btn btn-primary mb-3">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
