
<div class="container" >
    <div class="container mt-3 mb-4">
        <div class="container mt-2 p-2" style="background-color: rgba(228, 228, 228, 0.973);">
            <div class="container">
                {{>formulario}}
            </div>
            <div class="container mt-3 mb-3">
                {{>listado}}
            </div>
        </div>

        <div class="container mt-2 p-2" style="background-color: rgba(228, 228, 228, 0.973);">
            <div class="container">
                {{>chat}}
            </div>
        </div>
        
    </div>
</div>
